@import "tailwindcss";
@plugin "daisyui"{
    themes: all;
  }

@plugin "daisyui/theme" {
  name: "invincible_day";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #3c90ce;
  --color-primary-content: oklch(97.807% 0.029 256.847);
  --color-secondary: #e23734;
  --color-secondary-content: oklch(97.807% 0.029 256.847);
  --color-accent: #2c3e65;
  --color-accent-content: oklch(97.807% 0.029 256.847);
  --color-neutral: #1c2d4f;
  --color-neutral-content: oklch(97.807% 0.029 256.847);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(97.807% 0.029 256.847);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(97.807% 0.029 256.847);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(97.807% 0.029 256.847);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(97.807% 0.029 256.847);

  --color-gold: #ffbf00;
  --color-silver: #c0c0c0;
  --color-bronze: #cd7f32;

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-form {
  @apply btn text-white bg-secondary hover:bg-accent hover:border-accent hover:border-2 hover:shadow-md hover:shadow-accent/50;
}

.toasty {
	animation: fade .2s 1;
}

.input {
  @apply hover:outline-accent hover:outline-2 hover:shadow-md hover:shadow-accent/50;
}

.selected {
  @apply hover:outline-accent hover:outline-2 hover:shadow-md hover:shadow-accent/50;
}

.tcontent{
  @apply bg-base-200 hover:outline-2 hover:outline-accent card table table-fixed my-3 hover:shadow-md hover:shadow-accent/50;
}

.theader{
  @apply bg-primary text-white grid card shadow-md shadow-primary/50;
}
.article-card{
  @apply card bg-base-100 p-4 mb-4 shadow hover:shadow-lg transition-shadow duration-300 ease-in-out hover:cursor-pointer;
}
.tags{
  @apply mr-2 mb-2;
}
.tag{
  @apply badge badge-sm text-white font-bold hover:bg-accent hover:shadow-md hover:cursor-pointer;
}
.header{
  @apply text-xl font-bold mb-2;
}

.stat-bar {
	margin: 0.5rem 0;
	user-select: none;
	cursor: pointer;
	border-radius: 4px;
	outline-color: #000;
	outline-style: solid;
	outline-width: 2px;
}
.bar-bg {
	@apply rounded;
    background-color: #000000;
    height: 30px;
    overflow: hidden;
    margin-top: 4px;
}
.bar-fill {
	@apply rounded;
    height: 100%;
}

@keyframes fade {
	0% {
		transform: scaleY(0);
		transform-origin: 0% 100%;
		opacity: 1;
	}
	100% {
		transform: scaleY(1);
		transform-origin: 0% 100%;
		opacity: 1;
	}
}